@model ReservationRestaurant.Models.Reservation.PreCreate
@{
    ViewData["Title"] = "PreCreate";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1> Welcome to BeanScene</h1>

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="~/Images/dish1.jpg" style=" width:375px; height:250px" class="rounded mx-auto d-block" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="~/Images/dish2.jpg" style=" width:375px; height:250px" class="rounded mx-auto d-block" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="~/Images/dish3.jpg" style=" width:375px; height:250px" class="rounded mx-auto d-block" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                            <img src="~/Images/dish4.jpg"style=" width:375px; height:250px" class="rounded mx-auto d-block" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="~/Images/dish5.jpg" style=" width:375px; height:250px" class="rounded mx-auto d-block" alt="...">
                        </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <br />

            <h5 style="text-align:center" >Established since 1976</h5>

            <h3 style="text-align:center">History</h3>
            <div style="text-align:center">
                <p>
                    BeanScene was first a family business, created by Mr Bean, who immigrated to Sydney with his wife and 8 children in 1955 from Isle of Manx. <br />
                    Mr and Mrs Bean were very passionate with culinary art, and on their arrival to Sydney they were inspired to build a restaurant that
                    delivers food that is not only delightful in taste but also nutritious. Combining their European culinary skills with local ingredients, BeanScene was born in 1976 and within less than a year,
                    it became one of the most popular restaurant in Sydney and We are proud to announce that we have received multiple awards both locally and internationally.

                </p>
                <p>
                    We only use fresh organic ingredients, grown by local farmers. Crafted by our highly trained and skillfull Chef's and cooked to perfection,
                    our dishes are of high quality and every bite of them will bring a joy to your tongue and leaving a unforgettable taste that you won't find anywhere else.
                </p>
                <p>
                    We are looking forward to spoiling you with our miraculous services.
                </p>
            </div>
        </div>


        <div class="col-4">

            <div class="card mb-3" style="max-width: 18rem">
                <h4 class="card-header p-2 " style="background-color: #c9a671; ">Select sitting and date:</h4>
                <form asp-action="PreCreate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-body p-3">
                        <div class="form-group">
                            <label asp-for="SittingTypeId" class="control-label" style="font-weight:bold"></label>
                            <select asp-for="SittingTypeId" id="sitting" class="form-control" asp-items="Model.SittingTypeSL">
                                <option value="">-- select sitting --</option>
                            </select>
                            <span asp-validation-for="SittingTypeId" class="text-success"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Guests" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="Guests" class="form-control" />
                            <span asp-validation-for="Guests" class="text-danger" style="color:red"></span>
                        </div>
                        <div>
                            <label style="font-weight:bold"> Date </label>
                            <input asp-for="StartTime" class="form-control" id="datepicker" disabled autocomplete="off">
                            <span asp-validation-for="StartTime" class="text-sandy"></span>
                        </div>


                        <div id="ajaxTimeSlot" >
                            <label asp-for="TimeSlot" class="control-label" style="font-weight:bold"></label>
                            <select asp-for="TimeSlot" id="secInput" class="form-control" >
                            </select>
                            <span asp-validation-for="TimeSlot" class="text-danger" style="color:red"></span>

                        </div>

                        <div class="form-group">
                            <span style="font-weight:bold; color: red;"> @Model.Message </span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="BOOK NOW" class="btn btn-chocs" />
                        </div>
                    </div>
                </form>

            </div>

            <br />
            <br />
            <br />
            <div class="card mb-3" style="max-width: 18rem">
                <h4 class="card-header p-2 " style="background-color: #c9a671; ">Contact Us:</h4>
                <div style="font-weight: bold; text-align:center;" class=" card-body p-3">
                    <h5>
                        
                        <img src="~/Images/BeanSceneLogo4.png" alt="logo" style=" width:50%; height:50%" >
                    </h5>
                    <br />
                    <p>
                        99 Bean av, Sydney, NSW 2000
                    </p>

                    <p>
                        +61400 000 000
                    </p>

                    <p>
                        beanscene@beanscene.com.au
                    </p>
                    <h5>
                        Opening hours:
                    </h5>
                    <p>
                        
                         7 a.m. to 10:30 p.m 

                    </p>
                </div>

            </div>


        </div>
    </div>



    <p id="breakfast" style="color:red"> </p>


</div>
            @section Styles{
                <link href="~/css/jquery-ui.css" rel="stylesheet" />
                <style>
                    h1, h4 {
                        text-align: center;
                    }

                    div.col-md-4 {
                        border: solid 1px lightgrey;
                        padding: 10px;
                        background-color: white;
                        border-radius: 10px;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                </style>
            }
            @section Scripts{
                <script src="~/js/jquery-ui.js"></script>
                <script>
        let array = [];
        let timeSlotArray = [];
        let selDate = null;
        let selSit = null;
        document.getElementById("ajaxTimeSlot").hidden = true;



        $(document).ready(function () {

            if ($("#sitting").val() != "") {
                $('#datepicker').removeAttr('disabled');
            }

            changingInput();
        });


        $(document).ready(function () {
           $('#sitting').bind('change', function () {

            let options2 = $("#sitting").val();

                if (options2 > 0) {
                    $('#datepicker').removeAttr('disabled');

                }
            });
        });



        $('#datepicker').hover(


            function SittingSelection() {
                array.splice(0, array.length)
                let sitting = $("#sitting").val();
                if (sitting == 1) {

                 @foreach (var item in ViewBag.BreakfastList)
                 {

                     @:array.push("@item");
                }

                }
                else if (sitting == 2) {
                  @foreach (var item in ViewBag.LunchList)
                {

                     @:array.push("@item");
                }

                }
                else if (sitting == 3) {
                  @foreach (var item in ViewBag.DinnerList)
                {

                     @:array.push("@item");
                }
                }
                else if (sitting == 4) {
                  @foreach (var item in ViewBag.Other)
                {

                     @:array.push("@item");
                }
                }
            }

        );



        $("#datepicker").datepicker({

            minDate: 0,
            maxDate: "@Model.AmountOfDaysForCalendar",
            dateFormat: "dd-mm-yy",
             beforeShowDay: function (date) {
                 var string = jQuery.datepicker.formatDate('dd-mm-yy', date);
                return [array.indexOf(string) != -1]
            }
        });

        $('#sitting').change(changingInput);
        $('#datepicker').change(changingInput);




function changingInput () {

             let selDate = $("#datepicker").val();

            let selSit = $("#sitting").val();


            if ((selDate != "") && (selSit != null)) {

               document.getElementById("ajaxTimeSlot").hidden = false;

    }


    setTimeout(() => { callAjax(); }, 1);


    function callAjax() {
        $.ajax({
            url: 'https://localhost:44377/API/Reservations/Sitting/' + selSit + '/' + selDate,

            type: 'GET',

            dataType: 'json',

            success: function (data, textStatus, xhr) {



                let starterString = data.startTime;
                let starterDT = new Date(starterString);


                let enderString = data.endTime;
                let enderDT = new Date(enderString);
                enderDT.setMinutes(enderDT.getMinutes() - 60);





                let diff = enderDT - starterDT;
                let arrayLength = (diff / 3600000) * 4;



                let selectList = document.getElementById("secInput");


                for (let j = 0; j < timeSlotArray.length; j++) {
                    selectList.remove(timeSlotArray[j]);
                    console.log(j);
                }

                timeSlotArray.splice(0, timeSlotArray.length)

                //Create array of options to be added


                for (var i = 0; i < arrayLength + 1; i++) {
                    let myDate = starterDT;
                    let newDate = new Date(myDate);
                    newDate.setMinutes(newDate.getMinutes() + (i * 15));
                    function addZero(i) {
                        if (i < 10) { i = "0" + i }
                        return i;
                    }
                    let hours = addZero(newDate.getHours());

                    let ampm = hours >= 12 ? ' PM' : ' AM';
                    if (hours > 12) {
                        hours = hours - 12; //problem with 2 digit
                    }

                    let minutes = addZero(newDate.getMinutes());
                    let time = hours + ":" + minutes + ampm;


                    timeSlotArray.push(time);
                }




                //Create and append the options
                for (var i = 0; i < timeSlotArray.length; i++) {
                    let option = document.createElement("option");
                    option.id = "ajaxOptions"
                    option.value = timeSlotArray[i];
                    option.text = timeSlotArray[i];
                    selectList.appendChild(option);
                }




            },
            error: function (xhr, textStatus, errorThrown) {


                let selectList = document.getElementById("ajaxOptions");

                if (selectList != null) {
                    for (let j = 0; j < timeSlotArray.length; j++) {
                        selectList.remove(timeSlotArray[j]);
                        console.log(timeSlotArray[j]);
                    }

                }

                document.getElementById("ajaxTimeSlot").hidden = true;

            }
        });
    }
        }


                </script>
            }
