@model ReservationRestaurant.Data.Sitting

@{
    ViewData["Title"] = "Details";
}

<h1>Sitting Details</h1>
<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="card" style="width: 40rem; background-color: #c9a671; ">
        <dl class="row card-body">
            <dt class="col-md-6 text-end">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-md-6 text-end">
                Date
            </dt>
            <dd class="col-md-6">
                @Model.StartTime.ToShortDateString()
            </dd>
            <dt class="col-md-6 text-end">
                Start Time
            </dt>
            <dd class="col-md-6">
                @Model.StartTime.ToShortTimeString()
            </dd>
            <dt class="col-md-6 text-end">
                End Time
            </dt>
            <dd class="col-md-6">
                @Model.EndTime.ToShortTimeString()
            </dd>
            <dt class="col-md-6 text-end">
                @Html.DisplayNameFor(model => model.Capacity)
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Capacity)
            </dd>
            <dt class="col-md-6 text-end">
                @Html.DisplayNameFor(model => model.Vacancies)
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Vacancies)
            </dd>
            <dt class="col-md-6 text-end">
                @Html.DisplayNameFor(model => model.Pax)
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Pax)
            </dd>
             <dt class="col-md-6 text-end">
                Reservations
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Reservations.Count)
            </dd>
            <dt class="col-md-6 text-end">
                @Html.DisplayNameFor(model => model.Restaurant)
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Restaurant.Name)
            </dd>
            <dt class="col-md-6 text-end">
                Sitting Type
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.SittingType.Name)
            </dd>
            <dt class="col-md-6 text-end">
                Is Closed
            </dt>
            @if (Model.IsClosed)
            {
                <dd class="col-md-6">
                    Closed
                </dd>
            }
            else
            {
                <dd class="col-md-6">
                    Open
                </dd>
            }
        </dl>
        <div style="text-align: center; padding-bottom: 20px;">
            <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-coffee" style=" width: 120px;">Update</a>
             <a asp-action="ReservationList" asp-route-id="@Model.Id" class="btn btn-coffee">Reservations</a>
            <a asp-action="Index" class="btn btn-coffee">Back to List</a>
         </div>
    </div>
</div>
@section Styles{
    <style>
        h1, h3 {
            text-align: center;
        }

        dt {
            font-size: larger;
        }

        dd {
            font-size: large;
        }
        div.card {
            border: solid 1px lightgrey;
            padding: 10px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
}