@model ReservationRestaurant.Areas.Admin.Models.Sitting.Report
@{
    ViewData["Title"] = "Report";

}



<div class="container m-5" style="background-color:white; border:2px solid black; height:100%; position:relative">
    <h1 style="text-align: center;">Report</h1>
    <div class="row ">
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.StartTime)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.EndTime)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Capacity)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Capacity)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.ReservationCount)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.ReservationCount)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Vacanies)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Vacanies)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Pax)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Pax) (@Html.DisplayFor(model => model.PaxPecentage)% Full)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Tables)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Tables)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.NumberOfPhoneBookings)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.NumberOfPhoneBookings) (@Html.DisplayFor(model => model.PhonePecentage)%)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.NumberOfEmailBookings)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.NumberOfEmailBookings) (@Html.DisplayFor(model => model.EmailPecentage)%)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.NumberOfOnlineBookings)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.NumberOfOnlineBookings) (@Html.DisplayFor(model => model.OnlinePecentage)%)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.NumberOfWalkInBookings)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.NumberOfWalkInBookings) (@Html.DisplayFor(model => model.WalkInPecentage)%)
                </dd>

            </dl>
        </div>
        <div class="col-5 ">
            <div style="text-align: center">
                <div id="chartContainer" style="margin:0;">
                </div>
            </div>
        </div>
        <div class="m-4" style="text-align:center; position:relative; bottom: 0">
            <a asp-action="Index" class="btn btn-coffee">Back to Sitting List</a>
        </div>

    </div>
</div>

@section ChartScript{
    <script type="text/javascript">
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,

                title: {
                    text: "Todays Graph"
                },
                subtitles: [
                    { text: "Reservation Origins, of the current sitting" }
                ],
                data: [
                    {
                        type: "pie",
                        showInLegend: false,
                        toolTipContent: "{y}",
                        yValueFormatString: "# ",
                        legendText: "{indexLabel}", //change type to bar, line, area, pie, etc
                        dataPoints: [
                            { y: [@ViewBag.EmailData], indexLabel: " Email Bookings" },
                            { y: [@ViewBag.PhoneData], indexLabel: "Phone Bookings" },
                            { y: [@ViewBag.WalkInData], indexLabel: "Walk-In Bookings" },
                            { y: [@ViewBag.OnlineData], indexLabel: "Online Bookings" },

                        ]
                    }
                ]
            });
            chart.render();
        };
    </script>

}
